<html>
  <head> 
    <link href = "{{url_for('static', filename = 'css/home_page.css')}}" rel = 'stylesheet' type = 'text/css'>
  </head>
  <body>
  <div class="container">
  <h1 class="page-title">
    Happy Birthday Ishnoor!
  </h1>
  <i><h2 class="page-sub-title">*insert some random Punjabi lyrics*</h2></i>
</div>

<div class="card-container">
  <div class="card">
    <div class="front">
      <h2 class="sub-title">Season 20</h2>
      <h1 class="title">
        Ishnoor and his bottle
      </h1>
      <img class="image" src="http://pre14.deviantart.net/0aef/th/pre/f/2014/015/2/f/look_at_that_thing_morty____rick_and_morty_by_kory226-d72a6ub.png" alt="" />
    </div>
    <div class="back">
      <h3 class="synopsis">Synopsis</h3>
      <p>To commemorate 20 years of you doing things which none of us quite understand 
        we have compiled some random stuff (to give you a taste of your own medecine). 
        We also realised the best way of delivering this gift would be using a medium which
        <b> YOU </b> can easily edit. So, without further ado,
        we present Ishnoor's open website of weirdness.
      </p>
      <center><div class="btn"><i class="fa fa-play"></i>Watch now</div></center>
      <!-- <div class="btn secondary"><i class="fa fa-heart "></i>Add to list</div> -->
    </div>
  </div>
  </body>
</html>
