<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/newspaper.css')}}">
    <title>Newspaper Style Design Experiment</title>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="head">
<form method = "POST">
<button type = "submit">
Next Page
</button></form>
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Plenty of Rain('cuz it always rains on your birthday)</span><br><span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span></div>
        <header>Newpost York</header>
    </div>

    <div class="subhead">Gurgaon, California - Thursday July 20, 2000 - Seven Pages</div>
</div>
<div class="content">
    <div class="collumns">
        <div class="collumn">
            <div class="head"><span class="headline hl3">from DPS to UCLA: We still tolerate you</span><p><span class="headline hl4">by VAIBHAV GUPTA and ARSH GUPTA</span></p></div>
            <i><u>Vaibhav:</u></i>
            <p>We’ve known each other long enough at this point that these long-winded messages have begun feeling a bit gimmicky. That we can regularly spend hours on a call and not notice how much time has gone by is all either of us need to know, I think. That being said, I wanted to take this to reflect on why exactly our dynamic works. It’s not because of how you can switch from goofy to serious (and back) at the drop of a hat; it’s not your willingness to entertain the most ridiculous of conversations or pranks; it’s not even those jokes we can exchange with just a look. Much as I appreciate all that, to me it’s simple - you’re a standup guy who always comes through. Keep being you - I’ll catch you in the Fall (or in a week).</p>
            <i><u>Arsh:</u></i>
            Hey Ishnoor,
            <p>Neither of us would have had an idea when we entered XIth of how the next six years would pan out. Needless to say, it's been quite a fun journey and I look forward to the remaining two years left (regardless of all the changes that've been coming up and we'll just ignore that for now). Thanks for being a major part of what ties our group together and bringing the energy into the room. It's always a fun time hanging out with you be that in the Study on Friday nights or a walk down to Westwood going for milkshakes to Denny's at 2am. I'm inspired by your persistence and dedication to things that you're passionate about so stay the same quirky smart guy you are cause you're gonna make some real shit happen, I'm positive of it. I know I can count on you for anything and it means a lot. Thanks for being one of those few people. Hope you have an amazing day ahead.</p>
            </p>
           </div>
        <div class="collumn">
            <div class="head"><span class="headline hl5">ORCH-ISH PETALS (Strong Pun Game)</span><p><span class="headline hl6">By SIMRAN KAUR SAINI and Sarthak Khattar</span></p></div>
            <i><u>Simran:</u></i>
            Dear Ishi,

Six years have flown by. Well, time went by too fast, I might say. But now that I actually sit down here and think about these words, "six years", the weight that they carry is pouring down on me. In a good way, that is.
These past years have been full of changes and choices. The shift from 10th to 12th, the shift from school to college, the shift from being kids to being adults (you are still a 4 year old kid), and well, being separated by space and time, it has been a dynamic journey. A journey that I am glad I shared with you. A journey which was way too overwhelming but was made a lot more fun and exciting with your antics and goofiness. Thank you for being there, friend. 
Now that I am growing older, I realize how some people are just intrinsic to your life, people that you just cannot do without. People who you might not ring up everyday as often as you used to but still miss them all the same. You are that person. An indispensable person to me. So forgive me if I haven't been able to talk to you that often these past few days, things have been crazy to say the least. But know that you have always been there in my memories and will continue to be there.
Lots of love for you my Punjabi American friend. Do me proud as you always do. Continue to get drunk on cola. And do not go around breaking your legs and arms.
Ek Punjabi MV please shoot kar le. I will be your PR person ok!


        </p>
			<figure class="figure">
								<img class="media" src="http://i.giphy.com/PW7MoTD2d9pJK.gif" alt="">
								<figcaption class="figcaption">Hermine hoping for courage.</figcaption>
						</figure>

            <p><i><u>Sarthak:</u></i>
                                                                                Happy Birthday!! (Finally 20 wew). In light of this occasion, a little appreciation post:
                                                                                Thanks for helping me grow as a person by reminding me of my goals
                                                                                and having a competitive spirit that makes me push my limits.
                                                                                Positively reinforcing, self-reflective and genuine - our
                                                                                friendship dynamic is something I have always appreciated.
                                                                                Let's just hangout, play some basketball and hit the gym (for 2 weeks only)
                                                                                as soon as this all dies down.
                                                                                Looking forward to several more petty clashes, arguments and pointless discussions
                                                                                in the future.
                                                                                P.S. You should try K-Pop.
</p>

            </div>
        <div class="collumn"><div class="head"><span class="headline hl1">Snippets of the HILL</span><p><span class="headline hl2">By UCLA FAM</span></p></div>
        GO BRUINS!
HAPPY HAPPY BIRTHDAY BIRTHDAY
</p>
	<figure class="figure">
								<img class="media" src="http://i.giphy.com/4fDWVPMoSyhgc.gif" alt="">
								<figcaption class="figcaption">"This time, let go your conscious self and act on instinct."</figcaption>
						</figure>
            <p>
             <u><i>Rohit:</i></u>
             <p>
              Hey! You're one of the most passionate and dedicated guys I know. I'm glad I got to know to you really well last year even though I hate your obsession with Javascript lmao. I hope you have a great day despite this isolation xD and hopefully see you sometime next year.
             </p>
            </p>
            <p>
            <u><i>Aryan:</i></u>
            <p>
             Happy Birthday Ishnoooor!!! 
             Happy 20 JavaScript boiii!!! I have received the unfortunate opportunity to live with you for about a year now and next year too lol ( hopefully) and it’s been quite a ride lol 
             From singing Breakup Party while coming back from Trader Joe’s in Thanksgiving break to hosting the BEST parties with best lighting ofc to even yelling at Charan it’s been a fucking great time lol  
             Lol Rohit and I might ignore you with our headphones but you’re def a great roommate and friend brooo ️ Also we need to get more photos lol, I can't find more than 2-3
                                                                                 
            Hope you enjoy your birthday or at least as much as possible lol but yeah party chahyie- with google home mini, lights and in Rieber Terrace when we’re BACK ON CAMPUS in FALL
                                                                                
            </p>
            </p>

            <p>
                                                                                <u><i>Jessica:</i></u>
                                                                                <p>
                                                                                Congratz on surviving this far and finally becoming legal. Remember not to get caught in your nefarious ploys because jail will not be kind.
                                                                                                                                                    
                                                                                </p>
            </p>
            <p>
                                                                                <u><i>Suyash:</i></u>
                                                                                <p>
                                                                                                                                                                Hey Ishnoor, happy birthday! You're certainly one of the most unique people I have ever met, in a certain sense my polar opposite haha, but I guess that's what makes hanging out with you interesting - my way of thinking is constantly challenged! I wish we would talk more, but anyways, have a great birthday, and I hope you're doing well!

                                                                                                                                                    
                                                                                </p>
            </p>
        </div>
        <div class="collumn"><div class="head"><span class="headline hl3">YELLOW, YELLOW! Dirty fe--- Thats your style! </span><p><span class="headline hl4">By Dipshits</span></p></div>
        <u><i>Nayamat:</i></u>
        <p>
         Thanks for sharing your take on (almost) everything & never sharing the same opinion as mine. Happy Birthday, Ishy - our birthday messages for each other would always be awkard & I know we both agree this time. I have had the best time with you in classes, editor sessions, calls, vellapanti, Manju Ma’am(LOL), etc. Always looking forward to your lessons on how to live & the latest gadgets. 
         Stay the same & PLEASE laugh at my jokes this year!
        </p>
        <u><i>Pulak:</i></u>
        <p>
        Hi Ishnoor! The zombie is here to wish you a great 20th birthday! It’s been a great few years with a god(?) like yourself. Who’d have thought a zombie and light could be good friends? But keep laughing, destroying me at basketball, loving your punching bag and all forms of punjabi music, and most of all, being the amazing friend that you always have been! Thanks for always sticking around. Lastly, feel free to nitpick and roast this website as much as you’d like! Enjoy your day bro
        </p>
        <u><i>Ankita:</i></u>
        <p>
        Hi Ishuuuu!
        I know being miles apart isn't an excuse, but it's been a great one with you, a rollercoaster perhaps, over the last 4 years. Wish we could go back and discuss seenzoning
        Anyway, have a good one this year, irrespective of the lockdown. Happy birthdayyyy!                                                                               
        </p>
        </div>
        <div class="collumn"><div class="head"><span class="headline hl1">It wasn't a dream, It was a nightmare! (For you to be friends with me) </span><p><span class="headline hl4">by ANUSHA CHOUDHURY</span></p></div>
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. </p>
		<p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. </p></div>
    </div>
</div>

</body>
</html>