<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/newspaper.css')}}">
    <title>Newspaper Style Design Experiment</title>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Plenty of Rain('cuz it always rains on your birthday)</span><br><span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span></div>
        <header>Newpost York</header>
    </div>

    <div class="subhead">Gurgaon, California - Thursday July 20, 2000 - Seven Pages</div>
</div>
<div class="content">
    <div class="collumns">
        <div class="collumn">
            <div class="head"><span class="headline hl3">BHANGRA on the HILL</span><p><span class="headline hl4">by SAMEERA PANT</span></p></div>
            helloji (did u laugh? I laughed)
            Ish – I think we met each other at a good time, at least at a good time for me! I was being ghosted and it was all i could talk about and you had a tolerable ear for endless bullshit (probably because you have to hear yourself talk all day MWAHaha just kidding) but also because we are both somewhat bold and kind of brash (you more than me duh) 
            You've helped me evolve into a louder, more braver person and a more sympathetic+empathetic friend. You've also seen me at my absolute WORST and my absolute best (bc UCLA really brought out both of those rip) and honestly, I'm excited for what else we go through! We've already lasted a few relationships, terrible tweets and innuendos, multiple failed exercise schedules (SORRY), and (hopefully) a pandemic. You're such a good pal and the punjabi bro i didn't know I needed! I'm so happy to have you. 
            HAPPY TWENTIETH! YOU ARE AN ADULT WHETHER YOU LIKE IT OR NOT. but I'm also with you, dummy. hopefully our twenties will be better than the rocky season that was this year. (also i can't find that ugly selfie photo so just imagine it in your brain ty ly byeeeee)             
            </p></div>
            --------------------------------------------------------------------
        <div class="collumn">
            <div class="head"><span class="headline hl5">We have known you for TOO LONG!</span><p><span class="headline hl6">By AMOGH DHAR DIWAN and DIPANKAR MUKHERJEE</span></p></div>
            <i><u>Amogh:</u></i>
            Lets hope we wont have to carry you to your house after playing ball.
Having sleepovers to watch stuff, and then falling asleep.
Getting high off of soda.And hopefully being able to sit on your Sofa.
(Also not impulse buying books as birthday presents, I learnt my lesson the last time)
        </p>
			<figure class="figure">
								<img class="media" src="http://i.giphy.com/PW7MoTD2d9pJK.gif" alt="">
								<figcaption class="figcaption">Hermine hoping for courage.</figcaption>
						</figure>

            <p><i><u>Gaurav:</u></i>
                Hey Ishnoor , a very happy birthday man ! It’s been great to know you for the past few years. You’re super smart, sporty, have a good sense of humour and overall very fun to hang out with. Basketball + tennis + talking about cool stuff/tech with you is always a very enriching experience. Hope you have an awesome day and stay chill .</p>

            <p><i><u>Dipankar:</u></i>
                 Oyee happi budday nooray, may u have have a gala time today (party lene  ke liye toh hum hai hi) I can't believe u turn 20 today, aisa Lagta hai kal hi ki BAAT hai jab Tu bus Mai Naya aaya tha aur o'yes suck Karke khaata tha :) damn mountain dew pe high hone waale  Bache kitne jaldi badge hojaate hai. Wish u best of luck for future boiii.....party harddd.....

                P.S - treat lene Mai kab aaou message Kar diyo :)
     
                Aapka aagyakari Mitra </p>

            </div>
        <div class="collumn"><div class="head"><span class="headline hl1">Ishnoor: FRIENDSHIP Checklist</span><p><span class="headline hl2">By PARTH AGRAWAL</span></p></div>
        aaayayyyyy
Happieee birthdayyyyyyyyyy Bhaii bhaii bhaiii
</p>
	<figure class="figure">
								<img class="media" src="http://i.giphy.com/4fDWVPMoSyhgc.gif" alt="">
								<figcaption class="figcaption">"This time, let go your conscious self and act on instinct."</figcaption>
						</figure>
            <p>You know you are ishnoor's friend when -            </p>
            <p>1. His voice has overpowered your voice - CHECK
            </p>
            <p>2. Seen him walk like a clown - CHECK
            </p>
            <p>3. Heard him rant about mean median - CHECK
            </p>
            <p>4. Watch him crave for cold milk - CHECK
            </p>
            <p>5. Heard him make weird noise for his mouth - CHECK
            </p>
            <p>6. He has outcreeped you - NOT CHECKED YET
            </p>
        </div>
        <div class="collumn"><div class="head"><span class="headline hl3">The buzz near my ear because you don't stop talking! </span><p><span class="headline hl4">By OVIE SOMAN</span></p></div>
        <p>I never thought this introverted girl would be able to get along with someone like a house on fire, but then I met you. From charged debates about the health benefits or lack thereof of Study coffee (read: you convincing me not to destroy my health and equilibrium) to equally charged debates about your (questionable) taste in music (read: me imploring you to listen to someone other than Harrdy Sandhu) to the borderline aggressive games of fussball to laughing our heads off at video titles at 4 in the morning, the house was reduced to cinders indeed. It's been a joy and privilege getting to know you and spending time with you. Thank you for always being there for me. Thank you for bringing out the best in me. Thank you for just being you. I wish you a VERY HAPPY BIRTHDAY  and *insert cliche comment about you entering the Roaring 20's'*. Have a wonderful day, and an equally wonderful year! Here's to myriad more memories together. Take care and stay close.
            P.S.: We still need to settle that fussball tie, btw. I hope you're ready to hand it over to me.</p></div>
        <div class="collumn"><div class="head"><span class="headline hl1">It wasn't a dream, It was a nightmare! (For you to be friends with me) </span><p><span class="headline hl4">by ANUSHA CHOUDHURY</span></p></div>
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. </p>
		<p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. </p></div>
    </div>
</div>

</body>
</html>