<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>    
    <link href = "{{url_for('static', filename = 'css/picture_wall.css')}}" rel = 'stylesheet' type = 'text/css'>
  </head>
  <body>
    <ul id="categories" class="clr">
      <li class="pusher"></li>
      <li>
          <div class = "grow">
            <img src="{{url_for('static', filename = 'photos/ish14.jpg')}}" alt=""/>
            <h1>Woah! Little Ishy!</h1>
            <p>*Insert some generic aunty sayings*</p>
        </div>
      </li>
        <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish37.jpeg')}}"  alt=""/>
            <h1>What happens in front of the camera?</h1>
            <p>Tolerating your shenanigans for A VERY LONG TIME!</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish27.png')}}" alt=""/>
            <h1>Mr. I am ISHNOOR</h1>
            <p>Neither is interested in you! Lmao!</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish26.png')}}" alt=""/>
            <h1>Finally a decent picture!</h1>
            <p>Nayamat was wondering why you guys have only 2 pictures together.</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish7.jpg')}}" alt=""/>
            <h1>Wild Child!</h1>
            <p>This is not PG at all...</p>
        </div>
      </li>
      
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish23.jpeg')}}" alt=""/>
            <h1>America's next top model</h1>
            <p>....You should never be</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish29.jpg')}}" alt=""/>
            <h1>This is aryan's btw!</h1>
            <p>Don't know how picture zooming works</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish35.jpeg')}}" alt=""/>
            <h1>Anusha is the best (DUH!)</h1>
            <p>I am the only one who can make you look normal in a picture</p>
        </div>
      </li><li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish11.jpg')}}" alt=""/>
            <h1>Mr PLAYAAAAA!</h1>
            <p>15 year old Ishy and his basketball court of girls</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish32.jpeg')}}" alt=""/>
            <h1>Udta Punjab</h1>
            <p>Not kidding! You look HIGH AF!</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish3.jpg')}}" alt=""/>
            <h1>Standing Ovie-tion</h1>
            <p>Is tha bubble tea or ice coffee?</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish13.jpg')}}" alt=""/>
            <h1>WOWOWOWOWOWOWO</h1>
            <p>I can't even begin.... I am wheezing!</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish19.jpg')}}" alt=""/>
            <h1>Ishnoor and one of his many obsessions</h1>
            <p>You love Mumbai Indians but Mahrashtra is not a state(OK?!)</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish2.jpg')}}" alt=""/>
            <h1>BREAKING NEWS</h1>
            <p>It's concerning how you are the only one who looks normal</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish38.jpeg')}}" alt=""/>
            <h1>70's Madhubala</h1>
            <p>Me being done with your shit. Again!</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li class="pusher"></li>
        <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish21.jpeg')}}" alt=""/>
            <h1>Snape and Lilly</h1>
            <p>Story of Ishnoor and his hair</p>
        </div>
      </li>
        <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish36.jpeg')}}" alt=""/>
            <h1>Shooketh!</h1>
            <p>This is wholesome! No jokes!</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish5.jpg')}}" alt=""/>
            <h1>Carry-on (luggage)</h1>
            <p>Why do I feel like he was forced?</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish10.jpg')}}" alt=""/>
            <h1>Humza?</h1>
            <p>I know you miss them. Here you go!</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish12.jpg')}}" alt=""/>
            <h1>Cringe Fest</h1>
            <p>We were cringey-ass teenagers!</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish20.jpeg')}}" alt=""/>
            <h1>The Sim-pson Story</h1>
            <p>The question is: Do you still fit into those pants?</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish39.jpeg')}}" alt=""/>
            <h1>I give up!</h1>
            <p>This is what my gallery is full off!</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish1.jpg')}}" alt=""/>
            <h1>Pedo-stashe(I hope aunty doesn't see this!)</h1>
            <p>Some things are better left unsaid</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish16.jpg')}}" alt=""/>
            <h1>What is with this pose?</h1>
            <p>You both were equal amounts weird. Match made in heaven!</p>
        </div>
      </li>
        <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish33.jpeg')}}" alt=""/>
            <h1>SHOLAY!</h1>
            <p>Accurate description of your friendship.</p>
        </div>
      </li>
        <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish25.jpeg')}}" alt=""/>
            <h1>FOMO!</h1>
            <p>Where am I?</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish37.jpeg')}}" alt=""/>
            <h1>Repeat 1.1</h1>
            <p>I am too lazy to change this.</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish15.jpg')}}" alt=""/>
            <h1>Repetition never hurt anyone </h1>
            <p>Running out of what to caption.</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish9.jpg')}}" alt=""/>
            <h1>Who is weirder?</h1>
            <p>Did aunty influence you or you influenced aunty?</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish34.jpeg')}}" alt=""/>
            <h1>I AM NOT A COCONUT!</h1>
            <p>Tho I remember that you called me white after this picture was taken.</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish9.jpg')}}" alt=""/>
            <h1>Aunty wala?</h1>
            <p>Aunty blessing this hive with her presence</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish28.png')}}" alt=""/>
            <h1>Only people you liked</h1>
            <p>....in XII-L (accept it)</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish4.jpg')}}" alt=""/>
            <h1>Twinning?</h1>
            <p>Don't know him to make jokes (LMAO)</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish9.jpg')}}" alt=""/>
            <h1>Last Caption</h1>
            <p>Now you caption. I am tired. K! Thnx</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish31.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish6.jpg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish8.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish20.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish17.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish22.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish18.jpg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish40.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish41.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish42.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
      <li class="pusher"></li>
      <li>
          <div>
            <img src="{{url_for('static', filename = 'photos/ish43.jpeg')}}" alt=""/>
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </div>
      </li>
    </ul>
    <center><form method = "POST">
      <button type = "submit">
      Continue for the Newspaper
    </button></form></center>
    <!-- <a id="fork" target="_blank" href="https://github.com/web-tiki/responsive-grid-of-hexagons">Fork on GitHub</a> -->
  </body>
</htmll>
