<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Happy Birthday</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/wall.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/wall.js') }}"
    ></script>
  </head>
  <body>
    <header>
      <div class="container">
        <strong>
          <ul class="nav">
            <li>
              <a>
                <div class="circle"></div>
                <div class="title">Home</div>
              </a>
            </li>
            <li>
              <a>
                <div class="circle"></div>
                <div class="title">Pictures</div>
              </a>
            </li>
            <li>
              <a>
                <div class="circle"></div>
                <div class="title">Wall</div>
              </a>
            </li>
          </ul></strong
        >
      </div>
    </header>
    <div id="changetext">
      <strong>Punch </strong>through!! We have to break this fourth wall!
    </div>
    <div id="brickwall">
      <div id="github">
        <a href="https://github.com/Nush082700/Ishnoor_personal/tree/master">
          <img src="{{url_for('static', filename='photos/Github.png') }}"
        /></a>
      </div>
    </div>
  </body>
</html>
